/* Color Theme Swatches in Hex */
.Ziryab-Films-brand-identity-1-hex { color: #D9D7D8; }
.Ziryab-Films-brand-identity-2-hex { color: #A6A4A6; }
.Ziryab-Films-brand-identity-3-hex { color: #737273; }
.Ziryab-Films-brand-identity-4-hex { color: #403F40; }
.Ziryab-Films-brand-identity-5-hex { color: #0D0D0D; }

/* Color Theme Swatches in RGBA */
.Ziryab-Films-brand-identity-1-rgba { color: rgba(216, 214, 216, 1); }
.Ziryab-Films-brand-identity-2-rgba { color: rgba(165, 164, 165, 1); }
.Ziryab-Films-brand-identity-3-rgba { color: rgba(114, 113, 114, 1); }
.Ziryab-Films-brand-identity-4-rgba { color: rgba(63, 63, 63, 1); }
.Ziryab-Films-brand-identity-5-rgba { color: rgba(12, 12, 12, 1); }