@import "./styles/reset.css";

body {
    // flex-direction: column;
    font-family: 'Noto Sans';
}

h1 {
    display: flex;
    justify-content: center;
}

nav {
    // flex-direction: row;
    position: absolute;
    right: 10px;
}

main {
    display: flex;
    justify-content: space-around;
}

section {
    // display: flex;
    // flex-direction: row;
}

ul {
    list-style: none;
}